<!--
-----------------------------------------------------------------------------
Name: backext.html
Author: @NCiavone
Date Created: 12/8/21
Purpose: The html file for displaying the routines.
Notes:
    -This is required to be under /views
-----------------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Back Extensions Pop-up</title>
    <link rel="stylesheet" href="../public/css/styleMM.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="bootstrap" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
</head>

<body id="login">
    <div class="row">
        <div class="col-12">
            <header class="mt-5 mb-5 text-center">
                <h1 class="font-weight-light tm-form-title centerText tm-blue-text">Back Extensions</h1>
                <p class="tm-form-description centerText">The back extension is an exercise used to build lower back strength that also targets the hamstrings and glutes. It is often performed on a 45-degree bench with the feet anchored. Unweighted back extensions are often performed for high reps, such as 15-20 reps or more, but the movement can also be performed with added weight in lower rep ranges, such as 8-12 reps per set.</p>
            </header>

            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Instructions</h4>
                <div class="row centerText">
                    <p>1. Lie face down on a hyperextension bench, tucking your ankles securely under the footpads.</p>
                    <p>2. Adjust the upper pad if possible so your upper thighs lie flat across the wide pad, leaving enough room for you to bend at the waist without any restriction.</p>
                    <p>3. With your body straight, cross your arms in front of you (my preference) or behind your head. This will be your starting position. <b>Tip:</b> You can also hold a weight plate for extra resistance in front of you under your crossed arms.</p>
                    <p>4. Start bending forward slowly at the waist as far as you can while keeping your back flat. Inhale as you perform this movement. Keep moving forward until you feel a nice stretch on the hamstrings and you can no longer keep going without a rounding of the back. <b>Tip:</b> Never round the back as you perform this exercise. Also, some people can go farther than others. The key thing is that you go as far as your body allows you to without rounding the back.</p>
                    <p>5. Slowly raise your torso back to the initial position as you inhale. Tip: Avoid the temptation to arch your back past a straight line. Also, do not swing the torso at any time in order to protect the back from injury.</p>
                    <p>5. Repeat for the recommended amount of repetitions.</p>
                </div>
                <div class = "row centerText">
                    <p><b class = "tm-blue-text">Variations:</b> This exercise can also be performed without a hyperextension bench, but in this case you will need a spotter. Also, a similar exercise to this one is the good morning and the stiff-legged deadlift.
                    </p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Benefits</h4>
                <div class="row centerText">
                    <p>1. Builds size and strength in the hamstrings and glutes</p>
                    <p>2. Increases lower back strength and muscular endurance.</p>
                    <p>3. Can be progressed by holding weights or adding band resistance.</p>
                    <p>4. Effective posterior chain training without loading the spine, unlike a deadlift or squat.</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Examples</h4>
                <div class="row">
                    <div class="row">
                        <div class="column">
                        <p class="tm-form-description centerText">This is the Back Extension in the down position.</p>
                          <img src="../public/img/backextdown.jpg" alt="Chest Press Down" style="width:100%">
                        </div>
                    </br>
                        <div class="column">
                            <p class="tm-form-description centerText">This is the Back Extension in the up position.</p>
                          <img src="../public/img/backextup.jpg" alt="Chest Press Up" style="width:100%">
                        </div>
                      </div>
                </div>
            </div>
    

    <script src="../public/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5 centerText">
                Muscle Maker &copy; 2021 Created by Nicholas Ciavone - CSI 2520: 12/10/2021
            </p>
        </div>
    </footer>
</body>

</html>