<!--
-----------------------------------------------------------------------------
Name: hipabd.html
Author: @NCiavone
Date Created: 12/8/21
Purpose: The html file for displaying the routines.
Notes:
    -This is required to be under /views
-----------------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hip Abduction Pop-up</title>
    <link rel="stylesheet" href="../public/css/styleMM.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="bootstrap" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
</head>

<body id="login">
    <div class="row">
        <div class="col-12">
            <header class="mt-5 mb-5 text-center">
                <h1 class="font-weight-light tm-form-title centerText tm-blue-text">Hip Abductor</h1>
                <p class="tm-form-description centerText">The thigh abductor is a lower-body exercise that targets the muscles of the outer hips and glutes. It is usually performed for moderate to high reps, such as 8-12 reps per set or more, as part of lower-body training.</p>
            </header>

            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Instructions</h4>
                <div class="row centerText">
                    <p>1. To begin, sit down on the abductor machine and select a weight you are comfortable with. When your legs are positioned properly, grip the handles on each side. Your entire upper body (from the waist up) should be stationary. This is the starting position.</p>
                    <p>2. Slowly press against the machine with your legs to move them away from each other while exhaling.</p>
                    <p>3. Feel the contraction for a second and begin to move your legs back to the starting position while breathing in. <b>Note:</b> Remember to keep your upper body stationary to prevent any injuries from occurring.</p>
                    <p>4. Repeat for the recommended amount of repetitions.</p>
                </div>
                
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Benefits</h4>
                <div class="row centerText">
                    <p>1. Builds size and strength in the gluteus minimus, gluteus medius, and other outer hip muscles.</p>
                    <p>2. The machine allows for controlled reps and strict form.</p>
                    <p>3. Stronger abductors can make for a stronger squat and deadlift.</p>
                    <p>4. reat high-rep training for hips and glutes.</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Examples</h4>
                <div class="row">
                    <div class="row">
                        <div class="column">
                        <p class="tm-form-description centerText">This is the Hip Abduction in the down position.</p>
                          <img src="../public/img/hipabddown.jpg" alt="Hip Abduction Down" style="width:100%">
                        </div>
                    </br>
                        <div class="column">
                            <p class="tm-form-description centerText">This is the Hip Abduction in the up position.</p>
                          <img src="../public/img/hipabdup.jpg" alt="Hip Abduction Up" style="width:100%">
                        </div>
                      </div>
                </div>
            </div>
    

    <script src="../public/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5 centerText">
                Muscle Maker &copy; 2021 Created by Nicholas Ciavone - CSI 2520: 12/10/2021
            </p>
        </div>
    </footer>
</body>

</html>