<!--
-----------------------------------------------------------------------------
Name: legext.html
Author: @NCiavone
Date Created: 12/8/21
Purpose: The html file for displaying the routines.
Notes:
    -This is required to be under /views
-----------------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leg Extension Pop-up</title>
    <link rel="stylesheet" href="../public/css/styleMM.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="bootstrap" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
</head>

<body id="login">
    <div class="row">
        <div class="col-12">
            <header class="mt-5 mb-5 text-center">
                <h1 class="font-weight-light tm-form-title centerText tm-blue-text">Leg Extensions</h1>
                <p class="tm-form-description centerText">The leg extension is an isolation exercise for the quads.</p>
            </header>

            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Instructions</h4>
                <div class="row centerText">
                    <p>1. For this exercise you will need to use a leg extension machine. First choose your weight and sit on the machine with your legs under the pad (feet pointed forward) and the hands holding the side bars. This will be your starting position. <b>Tip:</b> You will need to adjust the pad so that it falls on top of your lower leg (just above your feet). Also, make sure that your legs form a 90-degree angle between the lower and upper leg. If the angle is less than 90-degrees then that means the knee is over the toes which in turn creates undue stress at the knee joint. If the machine is designed that way, either look for another machine or just make sure that when you start executing the exercise you stop going down once you hit the 90-degree angle.</p>
                    <p>2. Using your quadriceps, extend your legs to the maximum as you exhale. Ensure that the rest of the body remains stationary on the seat. Pause a second on the contracted position.</p>
                    <p>3. Slowly lower the weight back to the original position as you inhale, ensuring that you do not go past the 90-degree angle limit.</p>
                    <p>4. Repeat for the recommended amount of times.</p>
                </div>
                <div class = "row centerText">
                    <p><b class = "tm-blue-text">Variations:</b> As mentioned at in the foot positioning section, you can use various foot positions in order to maximize stimulation of certain thigh areas. Also, you can perform the movement unilaterally (one leg at a time).</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Benefits</h4>
                <div class="row centerText">
                    <p>1. Builds size and strength in the quads.</p>
                    <p>2. Strengthens ligments that are connected to the knee joint, helping prevent injury.</p>
                    <p>3. Great accessory movement for a stronger squat.</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Examples</h4>
                <div class="row">
                    <div class="row">
                        <div class="column">
                        <p class="tm-form-description centerText">This is the Leg Extensions in the down position.</p>
                          <img src="../public/img/legextdown.jpg" alt="Leg Extensions" style="width:100%">
                        </div>
                    </br>
                        <div class="column">
                            <p class="tm-form-description centerText">This is the Leg Extensions in the up position.</p>
                          <img src="../public/img/legextup.jpg" alt="Leg Extensions" style="width:100%">
                        </div>
                      </div>
                </div>
            </div>
    

    <script src="../public/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5 centerText">
                Muscle Maker &copy; 2021 Created by Nicholas Ciavone - CSI 2520: 12/10/2021
            </p>
        </div>
    </footer>
</body>

</html>