<!--
-----------------------------------------------------------------------------
Name: reardelt.html
Author: @NCiavone
Date Created: 12/8/21
Purpose: The html file for displaying the routines.
Notes:
    -This is required to be under /views
-----------------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Routines Page</title>
    <link rel="stylesheet" href="../public/css/styleMM.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="bootstrap" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
</head>

<body id="login">
    <div class="row">
        <div class="col-12">
            <header class="mt-5 mb-5 text-center">
                <h1 class="font-weight-light tm-form-title centerText tm-blue-text">Seated Dumbell Rear Delt Fly</h1>
                <p class="tm-form-description centerText">The seated rear delt fly is an upper-body exercise that targets the real deltoid of the shoulder. By performing the movement seated, it eliminates momentum from the rest of the body. This movement is usually performed for moderate to high reps, such as 8-12 reps per set or more, as part of the upper-body or shoulder-focused portion of a workout.</p>
            </header>

            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Instructions</h4>
                <div class="row centerText">
                    <p>1. Place a couple of dumbbells looking forward in front of a flat bench.</p>
                    <p>2. Sit on the end of the bench with your legs together and the dumbbells behind your calves.</p>
                    <p>3. Bend at the waist while keeping the back straight in order to pick up the dumbbells. The palms of your hands should be facing each other as you pick them. This will be your starting position.</p>
                    <p>4. Keeping your torso forward and stationary, and the arms slightly bent at the elbows, lift the dumbbells straight to the side until both arms are parallel to the floor. Exhale as you lift the weights. (Note: avoid swinging the torso or bringing the arms back as opposed to the side.)</p>
                    <p>5. After a one second contraction at the top, slowly lower the dumbbells back to the starting position.</p>
                    <p>6. Repeat for the recommended amount of repetitions.</p>
                    <p><b>Variation:</b>This exercise can also be performed standing but those with lower back problems are better off performing this seated variety.</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Benefits</h4>
                <div class="row centerText">
                    <p>1. Promotes shoulder health and balanced development.</p>
                    <p>2. Great burnout movement on shoulder day (Routine A).</p>
                    <p>3. Strengthens important postural muscles in the upper back.</p>
                </div>
            </div>
            <div class="tm-bg-black tm-form-block">
                <h4 class="mb-4 tm-blue-text centerText">Exercise Examples</h4>
                <div class="row">
                    <div class="row">
                        <div class="column">
                        <p class="tm-form-description centerText">This is the Rear Delt Fly in the down position.</p>
                          <img src="../public/img/reardddown.jpg" alt="Rear Delt Fly Down" style="width:100%">
                        </div>
                    </br>
                        <div class="column">
                            <p class="tm-form-description centerText">This is the Rear Delt Fly in the up position.</p>
                          <img src="../public/img/reardup.jpg" alt="Rear Delt Fly Up" style="width:100%">
                        </div>
                      </div>
                </div>
            </div>
    

    <script src="../public/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <footer class="row tm-mt-big mb-3">
        <div class="col-xl-12 text-center font-weight-light">
            <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5 centerText">
                Muscle Maker &copy; 2021 Created by Nicholas Ciavone - CSI 2520: 12/10/2021
            </p>
        </div>
    </footer>
</body>

</html>