<!--
-----------------------------------------------------------------------------
Name: survey.html
Author: @NCiavone
Date Created: 12/2/21
Purpose: The html file for sending in comments to service provider.
Notes:
    -This is required to be under /views
    - CONNECT to MySQL database!
-----------------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Survey</title>
    <link rel="stylesheet" href="../public/css/styleMM.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="bootstrap" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
</head>

<body id="survey" class="font-weight-light">
    <!-- Nav Bar -->
    <nav class="navbar background">
        <!-- we have used list tag that is ul 
             to list the items-->
        <ul class="nav-list">
            <li><a href="/index.ejs">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.ejs">Sign-Up</a></li>
            <li><a href="survey.html">Survey</a></li>
            <li><a href="register.ejs">Update</a></li>
            <li><a href="routines.ejs">Routines</a></li>
        </ul>
        <!-- we have used rightnav in order to design
             the seachbar properly by using CSS-->
        <div class="rightNav">
      <!-- the value that search bar will take is text -->
            <input type="text" name="search" id="search" />
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>

    <div class="container tm-container-max-800 centerText">
        <div class="row">
            <div class="col-12">
                <header class="mt-5 mb-5 text-center">
                    <h1 class="font-weight-light tm-form-title centerText tm-blue-text">Muscle Maker User Survey</h1>
                    <p class="tm-form-description">We love being able to learn from our mistakes and successes. Therefor we have created a survey for you to fill out, letting us know what we can improve on next!</p>
                </header>
                <form action="" method="post">
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">1. Did you enjoy your Muscle Maker experince?</p>
                        <ul class="ml-3">
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value1" type="radio" />
                                    <span>A. Absolutely!</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value2" type="radio" />
                                    <span>B. Somehwhat</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value3" type="radio" />
                                    <span>C. Not Very Much</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input class="with-gap" name="group1" value="value4" type="radio" />
                                    <span>D. Terrible </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">2. The routines were...</p>
                        <div class="row">
                            <div class="col-xl-6 mb-4">
                                <textarea class="p-3" name="description" cols="30" rows="4" placeholder="Enter routine comments here!"></textarea>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice1" class="filled-in" />
                                            <span>Easy</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice2" class="filled-in" />
                                            <span>Difficult</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice3" class="filled-in" />
                                            <span>Confusing</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="choice4" class="filled-in" />
                                            <span>Just Right</span>
                                        </label>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="tm-bg-black tm-form-block">
                        <p class="mb-4">3. Please awnser the questions below.</p>
                        <div class="row mb-4">
                            <div class="col-xl-6">
                                <div class="input-field">
                                    <select name="pre_experience" id="pre_experience">
                                        <option value="">Your Experience previous to Muscle Maker</option>
                                        <option value="1">Novice</option>
                                        <option value="2">Intermediate</option>
                                        <option value="3">Apprentice</option>
                                        <option value="4">Expert</option>
                                        <option value="5">Master</option>
                                    </select>
                                </div>
                                <select name="post_experience" id="post_experience">
                                    <option value="">Your Experience after Muscle Maker</option>
                                    <option value="6">Novice</option>
                                    <option value="7">Intermediate</option>
                                    <option value="8">Apprentice</option>
                                    <option value="9">Expert</option>
                                    <option value="10">Master</option>
                                </select>
                                </div>
                                <div class="input-field">
                                    <select name="income" id="income">
                                        <option value="">Did you hit your fitness goals?</option>
                                        <option value="11">Yes</option>
                                        <option value="12">No</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <select name="age" id="age">
                                        <option value="">Your Age</option>
                                        <option value="18">18-24</option>
                                        <option value="25">25-34</option>
                                        <option value="35">35-49</option>
                                        <option value="50">50-65</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-field">
                                    <input placeholder="Your Name" name="name" id="name" type="text" class="validate">
                                </div>
                                <div class="input-field">
                                    <input placeholder="Your Email" name="email" id="email" type="text" class="validate">
                                </div>
                                <label class="mr-4">
                                    <input class="with-gap" name="gender" type="radio" value="m" />
                                    <span>Male</span>
                                </label>
                                <label>
                                    <input class="with-gap" name="gender" type="radio" value="f" />
                                    <span>Female</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <textarea class="p-3" name="message" id="message" cols="30" rows="3" placeholder="Additional Message...(optional)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <button type="submit" class="waves-effect btn-large">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Muscle Maker &copy; 2021 Created by Nicholas Ciavone - CSI 2520: 12/10/2021
                </p>
            </div>
        </footer>
    </div>

    <script src="../public/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>